{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/tabletdetail.css' %}">
{% endblock %}

{% block content %}
    <div class="">

        <div class="category">
            <div class="d-flex justify-content-around">
                <div class="card text-center">
                    <div class="card-header font-weight-bold" id="border">
                        {% for service in tablet_service_list %}
                            <h3 class="">
                            <a class="text-decoration-none text-white-50" href="{{ service.get_absolute_url }}">{{ service.service_name }}</a>
                            </h3>

                            <p class="">{{ service.description }}</p>


                            {% if service.guarantee_support %}
                                <p class="">Guarantee supports this repair.</p>
                            {% endif %}

                            <p class=""> {{ temp }}</p>
                            <p class=""> ----------------------- </p>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>


    </div>
    {#        <div class="d-flex justify-content-around">#}
    {#        <div class="">#}
    {#        {% for service in mobile_service_list %}#}
    {#            <h3 class="">{{ service.service_name }}</h3>#}
    {#        <p class="">{{ service.description }}</p>#}
    {#        {% if service.guarantee_support %}#}
    {#                       <p class="">Guarantee supports this repair.</p>#}
    {#              {% endif %}#}
    {#        {% endfor %}#}
    {#        </div>#}
    {#        </div>#}
{% endblock %}