/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.login,
.image {
  min-height: 86.6vh;
}

.bg-image {
  background-image: url('../user/images/register.jpg');
  background-size: cover;
  background-position: center center;
}

#id_password {
  border-radius: 25px 25px;
  background: aliceblue;
  padding: 20px;
  width: 400px;
  height: 45px;
}

#id_confirm_password {
  border-radius: 25px 25px;
  background: aliceblue;
  padding: 20px;
  width: 400px;
  height: 45px;
}

#id_username {
  border-radius: 25px 25px;
  background: aliceblue;
  padding: 20px;
  width: 400px;
  height: 45px;
}

#id_phone {
  border-radius: 25px 25px;
  background: aliceblue;
  padding: 20px;
  width: 400px;
  height: 45px;
}